header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px; /* Adjust the 50px as needed */
  background: #282829;
}

.logo-container {
  width: 400px; /* Adjust as needed */
  height: 50px; /* Adjust as needed */
  overflow: hidden;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-links {
  display: flex;
  gap: 20px; /* Adjust as needed */
}